#cc_woo_abandoned_carts_secret_key {
    width: 90%;
}

#cc_woo_abandoned_carts_rest_endpoints {
    display: none !important; /* !important is unfortunately required here to override inline styles. */
}

#cc_woo_abandoned_carts_server_info {
    display: none !important; /* !important is unfortunately required here to override inline styles. */
}

#cc_woo_abandoned_carts_rest_endpoints + .description * {
    font-style: normal;
}

#cc_woo_abandoned_carts_server_info + .description * {
    font-style: normal;
}

.forminp code {
    background: none;
    white-space: pre-line;
}